{% extends 'stc/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{j}}
</div>
<!-- <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
  <div class="toast-header">
    {{j.tags}}
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{j}}
  </div>
</div> -->

	{% endfor %}
{% endif %}
  <div class="row mt-4">
    <div class="card col-md-7 mx-1" style='background-color:floralwhite'>
      <h3>Note Sharing</h3>
    </div>
    <div class="card col-md mx-1" style="background-color: cyan">
      <h3>User Details</h3>
    </div>
  </div>
</div>
{% endblock %}
