{% extends 'stc/base.html' %}
{% block title %}ChangePassword{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-4 p-2 shadow-lg">
		<h3 class="bg-warning text-center text-light p-2 border rounded">Change Password</h3>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for i in t %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="change" class="form-control btn btn-success btn-block my-2">
			</form>
			
		</div>
	</div>
</div>
{% endblock %}